AS_SRC_FILES := $(shell find $(ARCH_DIR) -name "*.s")
_AS_OBJ := $(AS_SRC_FILES:.s=.o)
AS_OBJ := $(shell echo " $(_AS_OBJ)" | sed "s| $(SRC_DIR)|$(BUILD_DIR)|g")
# $(patsubst %.S, %.o, $(pathsubst $(SRC_DIR)/%, $(BUILD_DIR)/%, $(AS_SRC_FILES)))

SILVER_SRC_FILES := $(shell find $(ARCH_DIR) -name "*.silver")
_SILVER_OBJ := $(SILVER_SRC_FILES:.silver=.o)
SILVER_OBJ := $(shell echo " $(_SILVER_OBJ)" | sed "s| $(SRC_DIR)|$(BUILD_DIR)|g")

MKISO := grub-mkrescue
# $(patsubst %.silver, %.o, $(pathsubst $(SRC_DIR)/%, $(BUILD_DIR)/%, $(SILVER_SRC_FILES)))

KERNEL_OBJS := $(SILVER_OBJ) $(AS_OBJ)

LINK_SCRIPT := $(ARCH_DIR)link.ld

.PHONY: project run

run: project
	qemu-system-$(ARCH) -cdrom $(OUT_DIR)/$(PROJECT).iso

project: $(OUT_DIR)/$(PROJECT).iso

$(OUT_DIR)/$(TARGET): $(KERNEL_OBJS)
	mkdir -p $(shell dirname $@)
	echo $(AS_SRC_FILES) $(KERNEL_OBJS)
	$(LD) -T $(LINK_SCRIPT) $(FLAGS) $(FLAGS_32) $^ -o $@

$(OUT_DIR)/$(PROJECT).iso: $(OUT_DIR)/$(TARGET)
	mkdir -p $(BUILD_DIR)/isodir/boot/grub
	cp $(ARCH_DIR)/grub.cfg $(BUILD_DIR)/isodir/boot/grub/
	cp $(OUT_DIR)/$(TARGET) $(BUILD_DIR)/isodir/boot/
	$(MKISO) $(BUILD_DIR)/isodir -o $@
